* {
    /* background-color: rgba(126, 252, 0, 0.096); */
    font-family: sans-serif;
    margin: 0;
}

.app-layout {
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    width: 100vw;
}

.all {
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    width: 100vw;
    background-color: rgba(255, 188, 181, 0.527);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
header h3 {
    /* font-family: Lustria; */
    font-weight: normal;
    font-size: 55px;
}

/* UPLOADER COMPONENT*/
.uploader-container {
    /* border: 1px solid black; */
    padding: 30px;
    background-color: rgba(223, 223, 223, 0.842);
    display: flex;
    flex-direction: column;
    height: 17vw;
    justify-content: space-evenly;
    width: 20vw;
    border-radius: 10px;
    margin: 20px;
}

/* WARDROBE COMPONENT */
.wardrobe-container {
    /* border: 1px solid red; */
    /* padding: 30px; */
    background-color: rgba(223, 223, 223, 0.842);
    padding: 30px;
    width: 20vw;
    height: 60vh;
    overflow: scroll;
    border-radius: 10px;
    margin: 20px;
}

.wardrobe-item {
    height: 60px;
    width: 60px;
    /* border: 1px solid black; */
    object-fit: cover;
    margin-right: 5px;
    /* padding: 3px; */
}

.wardrobe-items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.nav-text-title {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: larger;
}
.nav-text {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

/* GENERATOR COMPONENT */
.generator-container {
    /* border: 1px solid blueviolet; */
    background-color: rgba(223, 223, 223, 0.842);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 60vw;
}

.generator-container .title {
    font-size: 25px;
    text-decoration: underline;
    background-color: whitesmoke;
    padding: 10px 30px;
    border-radius: 10px;
}

.outfit-container {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: whitesmoke;
}

.top-bottom-display img {
    width: 270px;
    height: auto;
    /* border: 1px solid black; */
    padding: 5px;
    background-color: white;
    border-radius: 3px;

    /* effect */
}
.outfit-container img {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-28 11:33:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.extras-display img {
    width: 210px;
    height: auto;
    /* border: 1px solid black; */
    padding: 5px;
    background-color: white;
    border-radius: 3px;
}

.top-bottom-display {
    /* border: 1px solid black; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.extras-display {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

/* BUTTON */
button {
    background-color: rgba(250, 128, 114, 0.774);
    border-radius: 20px;
    padding: 10px 20px;
    width: max-content;
    margin: 5px;
}

button:hover {
    background-color: white;
}

button:focus {
    outline: none;
}

/* FOOTER */
footer {
    background-color: rgba(0, 128, 128, 0.534);
    color: rgba(0, 0, 0, 0.466);
    height: 40px;
    text-align: center;
    padding-top: 15px;
}

/* LOG IN AND REG */
.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    /* border: 1px solid black; */
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    /* border: 1px solid black; */
}

.field p {
    font-size: smaller;
}

.field input {
    padding: 5px;
}

.text-middle {
    text-align: center;
    padding-bottom: 20px;
}

.error {
    color: red;
}

/* LINKS */

.link {
    color: darkblue;
    margin-top: 20px;
}

.link:hover {
    color: blue;
}
