* {
    background-color: rgba(126, 252, 0, 0.096);
}

/* UPLOADER COMPONENT*/
.uploader-container {
    border: 1px solid black;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
    width: 30vw;
}

/* WARDROBE COMPONENT */
.wardrobe-container {
    border: 1px solid red;
    /* padding: 30px; */
    background-color: white;
    padding: 30px;
    width: 30vw;
}

.wardrobe-item {
    height: 50px;
    width: 50px;
    /* border: 1px solid black; */
    object-fit: cover;
    margin-right: 5px;
    /* padding: 3px; */
}

.wardrobe-items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}
